server = true

client_addr = "[::]"
data_dir = "/run"

bootstrap = {{ BOOTSTRAP }}

retry_join = [{%- for host in JOIN.split(' ') %}"{{ host }}",{%- endfor %}]
retry_interval = "3s"

license_path = "/run/license"
